{% extends 'safebox_app/base.html' %}
{% load static %}

{% block title %}{{ safe.name }}{% endblock %}

{% block content %}
<div class="product-detail">
    <div class="product-images">
        {% if safe.model and safe.model.images.all %}
        <div class="main-image-container">
            <img src="{{ safe.model.images.first.image.url }}" alt="{{ safe.name }}" class="main-image">
        </div>
        <div class="thumbnail-container">
            {% for image in safe.model.images.all %}
            <img src="{{ image.image.url }}" alt="{{ safe.name }}" class="thumbnail" data-image-url="{{ image.image.url }}">
            {% endfor %}
        </div>
        {% else %}
         <img src="{% static 'safebox_app/images/no-image.jpg' %}" alt="Rasm yo'q" class="no-image">
        {% endif %}
    </div>


    <div class="product-info">
        <h1>{{ safe.name }}</h1>
        <p class="price">{{ safe.price }} so'm</p>
        <p class="description">{{ safe.description }}</p>

        <ul class="product-details-list">
            <li><strong>Brend:</strong> {{ safe.model.brand.name }}</li>
            <li><strong>Model:</strong> {{ safe.model.name }}</li>
            <li><strong>O'lchamlari:</strong> {{ safe.dimensions }}</li>
            <li><strong>Og'irligi:</strong> {{ safe.weight }} kg</li>
            <li><strong>Qulf turi:</strong>{{safe.lock_type}}</li>
            <li><strong>Materiali:</strong>{{safe.material}}</li>
            {% if safe.category %}
            <li><strong>Kategoriya:</strong> {{ safe.category.name }}</li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const mainImage = document.querySelector('.main-image');
        const thumbnails = document.querySelectorAll('.thumbnail');

        thumbnails.forEach(thumbnail => {
            thumbnail.addEventListener('click', function() {
                mainImage.src = this.dataset.imageUrl;
            });
        });
    });
</script>
{% endblock %}